# Conoscenza interente il dataset
Un bando di gara è suddiviso in lotti. 
Per ciascun lotto si assegnano uno o più contratti a un vincitore.

# italiano : english
bando : public call, public tender
lotto : lot

In [1]:
import numpy as np
import pandas as pd
from os import path

data_directory = "synData28June"
lotti_fn = "export_lotti_veneto_2016_2018_giulio.csv"
vincitori_fn = "export_vincitori_veneto_2016_2018_giulio.csv"

lotti = pd.read_csv(path.join(data_directory, lotti_fn))
vincitori = pd.read_csv(path.join(data_directory, vincitori_fn))

## lotti attributi
1. **id lotto** identificatore del lotto di gara attribuito da Synapta
2. **oggetto** oggetto del contratto del lotto di gara
3. **id_scelta_contraente** identificatore numerico del metodo di assegnazione del lotto #(26)
4. **id_cpv** *common procurement vocabulary* sistema di classificazione europeo per categorizzare l'oggetto dei contratti pubblici d'acquisto
5. **importo** importo da pagare all'azienda fornitrice come definito dal contratto
6. **importo_base_asta** importo massimo per l'asta a ribasso per il dato lotto
7. **importo liquidato** importo effettivamente liquidato
8. **data inizio** data d'inizio d'esecuzione del contratto
9. **data fine** data di fine esecuzione del contratto
10. **data inferita calcolata** booleano; se vero, la/le data/e sono state inferite da ?
11. **id_lsf** identificatore lavoro, servizio, fornitura {1: lavoro, 2: servizio, 3: fornitura}
12. **id_mod_realizz** modalilità realizzazione; specifica in funzione del contratto evenutalmente rimovibile#(12)
13. **id_formagiuridica** identificatore della forma giuridica del committente
14. **md5** hash(tipo di centrale di committenza)

In [2]:
lotti.head()

,id_lotto,oggetto,id_scelta_contraente,id_cpv,importo,importo_base_asta,importo_liquidato,data_inizio,data_fine,data_inferita_calcolata,id_lsf,id_mod_realizz,id_forma_giuridica,md5
0,887826082,2017_OG1 OPERE EDILI - MANUTENZIONE ORDINARIA ...,27.0,7161.0,60000.00,NaN,NaN,2017-09-01,2017-12-30,True,1.0,13.0,154,1f2eac73c875ee65907ba4d8681a7d2a
1,14913388,SONDA PER PH METRIA ID 18P001,23.0,NaN,640.00,NaN,640.00,2018-08-09,2018-08-09,True,3.0,NaN,139,4c9f18d34d17b903f078e45bc25d54b1
2,13973004,CAT MOUNT GIREVOLE PED,23.0,NaN,27.50,NaN,27.45,2018-05-28,2018-05-28,True,3.0,NaN,135,4c9f18d34d17b903f078e45bc25d54b1
3,18037021,Servizio di ristorazione in occasione della 53...,23.0,NaN,4545.46,NaN,3190.91,2016-03-16,2016-04-21,True,2.0,NaN,75,380ded385c850cdd5f5aa90c91f9a0a9
4,11263465,Acquisto toner,23.0,NaN,79.00,NaN,79.00,2017-02-16,2017-05-12,True,3.0,NaN,103,e2d0bdd808a492fe24340a00f8cd6f7a

In [16]:
print("how many missing variable in lotti.id_lotto?")
np.sum(pd.isna(lotti.id_lotto))

how many missing variable in lotti.id_lotto?

0

In [48]:
lotti.id_scelta_contraente.unique()
print("how many lots contain NaNs in id_scelta_contraente?")

how many lots contain NaNs in id_scelta_contraente?

In [49]:
print("which lots do not have a id_scelta_contraente?")
lotti[pd.isna(lotti.id_scelta_contraente)]

which lots do not have a id_scelta_contraente?

,id_lotto,oggetto,id_scelta_contraente,id_cpv,importo,importo_base_asta,importo_liquidato,data_inizio,data_fine,data_inferita_calcolata,id_lsf,id_mod_realizz,id_forma_giuridica,md5
1609,11972362,SERVIZI DI TRASPORTO PUBBLICO LOCALE: ACCERTAM...,NaN,NaN,1.384415e+08,NaN,51705735.13,2017-06-30,2025-12-31,True,NaN,NaN,14,47a78836496a7a97994acb6aef0d8cbf
26022,3469444,Contratto di Servizio per il trasporto pubblic...,NaN,NaN,2.226800e+09,NaN,105000.00,2018-01-01,2032-12-31,True,NaN,NaN,19,47a78836496a7a97994acb6aef0d8cbf
40783,2316458,TRIZIVIR*60CPR RIV ABACAVIR/LAMIVUDINA/ZIDOVUD...,NaN,NaN,NaN,NaN,0.00,2016-05-23,NaN,True,NaN,NaN,139,4c9f18d34d17b903f078e45bc25d54b1
45428,18345252,GARA REGIONALE CIG MASTER,NaN,NaN,NaN,NaN,NaN,2016-07-01,2019-06-30,True,NaN,NaN,135,4c9f18d34d17b903f078e45bc25d54b1
49270,14164374,MIMPARA*28CPR RIV CINACALCET CLORIDRATO 2-E 20...,NaN,NaN,NaN,NaN,0.00,2016-05-24,NaN,True,NaN,NaN,139,4c9f18d34d17b903f078e45bc25d54b1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895045,17637222,MEROPENEM HOS*EV POLV 10FL 1G MEROPENEM L. 288...,NaN,NaN,NaN,NaN,0.00,2016-05-24,NaN,True,NaN,NaN,139,4c9f18d34d17b903f078e45bc25d54b1
905129,3342376,CHIROCAINE*10F 10ML LEVOBUPIVACAINA CLORIDRATO...,NaN,NaN,NaN,NaN,0.00,2016-05-25,NaN,True,NaN,NaN,139,4c9f18d34d17b903f078e45bc25d54b1
905183,4372333,ISENTRESS*FL 60CPR RIV 400MG RALTEGRAVIR POTAS...,NaN,NaN,NaN,NaN,0.00,2016-05-25,NaN,True,NaN,NaN,139,4c9f18d34d17b903f078e45bc25d54b1
922577,1753859,ZYVOXID LINEZOLID 2-E 2015/N.35 DEL 27 MARZO L...,NaN,NaN,NaN,NaN,0.00,2016-05-24,NaN,True,NaN,NaN,139,4c9f18d34d17b903f078e45bc25d54b1
936449,1513507,MITOMYCIN C*INIET 1FL MITOMICINA 2-E 2015/N.35...,NaN,NaN,NaN,NaN,0.00,2016-05-25,NaN,True,NaN,NaN,139,4c9f18d34d17b903f078e45bc25d54b1

In [28]:
print("how many types of provisioning?")
lotti.id_mod_realizz.unique()

array([13., nan,  3.,  1., 14., 11.,  4.,  9., 10.,  5.,  7.,  6.,  8.])

In [41]:
print("what percentage of records do not have a specified type of provisioning?")
np.round(np.sum(lotti.id_mod_realizz.isna()) / lotti.shape[0], 2)

what percentage of records do not have a specified type of provisioning?

0.95

## vincitori attributes
1. **id_lotto** identificatore del lotto di gara
2. **ruolo** ruolo del vincitore di gara, e.g. "mandante", "mandataria", "capogruppo" etc
3. **id_be** identificatore della business entity
3. **id_forma_giuridica** identificatore della forma giuridica del vincitore e.g. srl, sas, spa...
4. **mdg** hash(centrale di committenza)

In [3]:
vincitori.head()

,id_lotto,ruolo,id_be,id_forma_giuridica,md5
0,887826082,NaN,90464,154,1f2eac73c875ee65907ba4d8681a7d2a
1,14913388,NaN,85208,176,1f2eac73c875ee65907ba4d8681a7d2a
2,13973004,NaN,89811,155,1f2eac73c875ee65907ba4d8681a7d2a
3,18037021,NaN,265228,175,1f2eac73c875ee65907ba4d8681a7d2a
4,11263465,NaN,356115,174,1f2eac73c875ee65907ba4d8681a7d2a

In [17]:
print("how many non-unique id_lotto in vincitori dataframe?")
vincitori.shape[0] - np.unique(vincitori.id_lotto).shape[0]

how many non-unique id_lotto?

19039

In [60]:
print("duplicated items in vincitori.id_lotto")
vincitori[vincitori.id_lotto.duplicated()]

duplicated items in vincitori.id_lotto

9

In [61]:
print("how many rows does are duplicate in vincitori dataset?")
np.sum(vincitori.duplicated())

how many rows does are duplicate in vincitori dataset?

9

In [47]:
print("how many lots do not have an assigned winner?")
lotti.shape[0] - vincitori.shape[0]

how many lots do not have an assigned winner?

30197

and this is not ok, Davide said. We should investigate why.

# lotti left joins vincitori

In [55]:
df = lotti.merge(vincitori,how="left", on="id_lotto")
df.shape

(966536, 18)

In [57]:
print("there are more call-winner")
df.shape[0] - lotti.shape[0]

19039